<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<% messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="login-container">
<form action="/inv/delete" method="post" id="updateForm">

    <label for="inv_make">Make:</label>
    <input type="text" id="inv_make" name="inv_make" value="<%- inv_make %>" readonly required><br><br>

    <label for="inv_model">Model:</label>
    <input type="text" id="inv_model" name="inv_model" value="<%- inv_model %>" readonly required><br><br>

    <label for="inv_year">Year:</label>
    <input type="text" id="inv_year" name="inv_year" value="<%- inv_year %>" readonly maxlength="4" required><br><br>

    <label for="inv_price">Price:</label>
    <input type="number" id="inv_price" name="inv_price" value="<%- inv_price %>" readonly required><br><br>

    <input type="submit" value="Delete Vehicle" class="login-button">
    <input type="hidden" name="inv_id"
    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
    <% } %>>
</form>
</div>